*{
    box-sizing: border-box;
}

.advancedSearchButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: (var(--black));
    color: var(--gray-light);
    font-size: 1rem;
    padding: 0 1.5rem;
    height: 100%;
    width: 100%;
}

.dropdown {
    background: var(--black);
    border-radius: 9999px 0 0 9999px;
    width: 10rem;
    position: relative;
}

.dropdownMenu {
    width: 100%;
    height: 100%;
}

.inputField{
    border: none;
    font-size: 1rem;
    height: 100%;
    padding: 0 0.5rem;
    border-radius: 0 9999px 9999px 0;
    width: 100%;
}

.search {
    display: flex;
    height: 100%;
}

.searchContainer {
    border: 0.1rem solid var(--black);
    border-radius: 9999px;
    height: 2.5rem;
    margin: 0 2rem;
}

.dropdownMenuItems {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    margin: 0.25rem 0 0 0;
    padding: 0;
    border-radius: 12px;
    border: 1px solid var(--black);
    overflow: hidden;
}

.dropdownMenuItem {
    border: none;
    background-color: var(--black);
    color: var(--gray-light);
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

.dropdownMenuItem:hover{
    background-color: var(--gray-mid);
    color: var(--black);
    user-select: none;
}

.searchButtonContainer {
    flex-grow: 1;
    position: relative;
}

.magnifyingGlass {
    border: none;
    background-color: white;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}
