@import url('../../Styles/styles.css');

:root {
  --icon-size: 2.75em;
}

.panelContainer {
  display: flex;
  justify-content: right;
  padding: 1rem;
  gap: 1rem;
  max-width: 50vw;
  min-width: 0px;
  max-height: 100vh;

  position: absolute;
  right: 0;

  transition: 0.5s;
}

.modeIcons {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.modeIcon {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: var(--icon-size);
  background-color: var(--gray-mid);
  cursor: pointer;
  transition: background-color 1s;
}

.modeIcon.active {
  background-color: var(--black);
}

@keyframes closePanel {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes openPanel {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.sidePanelContainer {
  max-height: 100%;
  width: 100%;
  transition: 0.5s;
  overflow: hidden;
  animation: openPanel 0.5s forwards;
}

.sidePanelContainer.hidden {
  animation: closePanel 0.75s forwards 0.1s;
}

@keyframes Reveal {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes Hide {
  0% {
    opacity: 100%;
  }
  15% {
    opacity: 0;
  }

  100% {
    opacity: 0%;
  }
}

.sidePanelBody {
  overflow: scroll;
  width: 100%;
  transition: 0.5s;
  animation: Reveal 1s forwards;
  position: relative;
  opacity: 1;
}

.sidePanelBody.hidden {
  background-color: blue;
  animation: Hide 1s forwards;
  opacity: 0;
}

.sidePanel {
  /* width: calc(50vw - 5.75rem); */
  max-height: 100%;
  background-color: var(--gray-light);
  padding: 1rem 1rem;
  border-radius: 0.5em;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  transition: 0.5s;
}

.sidePanelHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.sidePanelTitle {
  color: white;
  font-family: 'Roboto';
  font-size: 0.875rem;
  background-color: var(--black);
  padding: 0.375rem 1rem;
  /* width: min-content; */
  border-radius: 24px;
}

.sidePanelHide {
  background-color: var(--black);
  height: 24px;
  width: 24px;
  border-radius: 24px;
  cursor: pointer;
}
